<h1 class="display-4">Welcome To Question Bank</h1>
<p class="mb-4">This is a web app for managing Question of Exam</p>
<a href="/question/list" class="btn btn-light">View Question</a>
<a href="/question/add" class="btn btn-light">Add Question</a>
